# Arquivos Java compilados
*.class

# Arquivos JAR
*.jar

# Diretório de saída Eclipse
bin/

# Diretório de saída IntelliJ IDEA
out/

# Diretório de saída NetBeans
build/

# Configuração do sistema
.classpath
.project
.settings/

# Logs
*.log
/target/
